.Boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color:  #845EC2;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}
.Boton-contenedor:hover{
    background-color: #5a01a76b;
}
.operador {
    background-color: #FF357B;
}

.operador:hover {
    background-color: #fe0059;
}
